doctype html
html
  include includes/head.pug
  body

    div(class="container")
      div(class="card card-container")
        form(action="/complete", method="post")
          strong The site at #{client} requires access to the following information:
          ul
            each val in require
              li= val
          strong In addition, you may choose to provide the following optional values:
          ul
            each val in request
              li
                input(type='checkbox' name='agreement' checked)
                | #{val}

          input(type="submit", class="btn btn-success", name="result", value="Approve")
          input(type="submit", class="btn btn-danger", name="result", value="Reject")

    include includes/foot.pug